{% extends 'base.html.twig' %}

{% block title %}Games{% endblock %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col"></th>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Price discount</th>
        </tr>
        </thead>
        <tbody>
        {% if games %}
            {% for game in games %}
                <tr>
                    {% set counter = ( counter | default(0) ) + 1 %}
                    <th scope="row">{{ counter }}</th>
                    <td><img src="{{ game.image_url }}" width='64' height='64' alt=""/></td>
                    <td>{{ game.title }}</td>
                    <td>{{ game.price_price|number_format(2, '.', ',') }}</td>
                    <td>{{ game.price_lower_price ? game.price_lower_price|number_format(2, '.', ',') : '-' }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4">Games not added yet.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

{% endblock %}
