{% extends 'base.html.twig' %}

{% block title %}Games{% endblock %}

{% block body %}
    <form action="{{ path('gameUpdateAll') }}" method="post">
        <button type="submit" class="btn btn-block btn-outline-primary">Update games</button>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col"></th>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Price discount</th>
        </tr>
        </thead>
        <tbody>
        {% if games %}
            {% for game in games %}
                <tr>
                    <th scope="row">1</th>
                    <td><img src="{{ game.image_url }}" width='64' height='64' /></td>
                    <td>{{ game.title }}</td>
                    <td>{{ game.price|number_format(2, '.', ',') }}</td>
                    <td>{{ game.price_discount ? game.price_discount|number_format(2, '.', ',') : '-' }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4">Games not added yet.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

{% endblock %}
